@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ocr";
  src: url("/fonts/OCRAStd.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
}

a {
  list-style: none;
  color: black;
}

label {
  display: block;
}
